<!DOCTYPE html>
<html>
  
<head>
  <title>Shopping List App</title> 
  <link rel="stylesheet" href="css/main.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="js/main.js"></script>
</head>

<body>
  
<h4>Shopping List</h4>
    <div ng-app="ShoppingListApp" ng-controller="shopCtrl" class="shopListApp">
        <div class="row header">
            <h4>List</h4>
        </div>
        <div class="row list">
            <ul>
                <li ng-repeat="x in products">
                    {{x}}<span ng-click="removeItem($index)" class="delBtn">&times;</span>
                </li>
            </ul>
        </div>

        <input ng-model="addItem">
        <button ng-click="addItemFx()">Add</button>
        <p>{{errortext}}</p>
    </div>
  
</body>
  
</html>
