<!DOCTYPE html>
<html>
  
<head>
  <title>Shopping List App</title> 
  <link rel="stylesheet" href="css/main.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="js/main.js"></script>
</head>
  
<body>
      <div ng-app="ShoppingListApp" ng-controller="shopCtrl">
      <div class="row container">
        <span class="minimize-icon" ng-click="maximizeFx()" ng-hide=maximize>
          <i class="bi bi-list"></i>
        </span>

        <div class="col-md-3 col-sm-3 input-row" ng-hide="minimize">
          <span class="minimize-icon" ng-click="minimizeFx()">
            <i class="bi bi-list"></i>
          </span>
          <span class="title">Add Item</span>
          <div class="input-container">
            <input ng-model="addItem" placeholder="Enter item"><br/>
            <label for="quantity">
              <input type="number" ng-model="setQuantity" placeholder="Quantity" min=0>
            </label>
            <button ng-click="addItemFx()"> Add</button>
            <p>{{errortext}}</p>
          </div>
          <div class="actions">
            <button class="btn btn-primary btn-sm" type="button">Print</button>
            <button class="btn btn-danger btn-sm" type="button">Clear</button>
          </div>
        </div>

        <div class="col-md-8 col-sm-8 display-row">
          <div class="display-table">
            <div class="row display-table-head">
              <span class="">List</span>
            </div>
            <div class="row display-table-body">
            <ul>
              <span ng-if="products == 0">List is empty</span>
              <li ng-repeat="product in products">                
                        {{product.title}} - {{product.quantity}}<span ng-click="removeItem($index)" class="delBtn">&times;</span>
                </li>
            </ul>
            </div>  
          </div>
        </div>  

    </div>

    
</body>
  
</html>
